@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800;900&display=swap');

body{
  overflow-x: hidden;
}
.strategy-section-bg-graphics-section{
  position: relative;
  /* background-image: url('./Assets/strategy-section-bg.png');
  background-repeat: no-repeat;
  background-position: right; */
  float: right;
  margin-right: 0%;
  padding-right: 0%;
  z-index: 1;
  height: 200px;
  width: 200px;
}
.strategy-container{
  position: relative;
  z-index: 2;
  padding-left: 25%;
}

.header{
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-image{
  width: 90%;
  /* margin-left: 17px; */
  margin-right: auto;
}

.services-header-img-section{
  width: 97%;
  margin-right: auto;
}

.services-container, .contact-container{
  padding-top: 30px;
  padding-bottom: 30px;
}

.strategy-section{
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar{
  background-color: white;
  box-shadow: 0px 8px 8px -6px rgba(0,0,0,.25);
}

.strategy-card{
  text-align: center;
}

.strategy-card-icon-section{
  padding-bottom: 10px;
}

.footer-section{

  background-color: #303669;
  /*width: 100vw;*/
  color: white;
}

.footer-container{
  padding-top: 50px;
}


.navitem{
padding-left: 8%;
  
}
.navbrand{
  font-size: 2.5em;
  font-weight: 900;
  padding-right: 0px;
}

.navtxt{
  font-family: 'Poppins', sans-serif;
  margin-top: 25px;
  font-weight: 400;
  color:black;
  width: 150px;
  font-size: 17px;
  text-align: center;
}

.btn-custom{
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-top: 20px;
  background-color: rgb(10, 130, 228);
  height: 50px;
  width: 180px;
  color: white;
  border-radius: 5em;
  border: none;
}

.btn-custom:hover{
  background-color: rgb(253, 81, 138);
}

.subtitle{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.5em
}

.bold-title{
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
  font-weight: 900;

  color: rgb(10, 56, 141);

}

.title{
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
  font-weight: 800;
  padding-right: 0px;
  color: rgb(10, 56, 141);
}

.title-text{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.body-btn{
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
  background-color: rgb(253, 81, 138) ;
  height: 50px;
  width: 150px;
  color: white;
  font-weight: 400;
  border-radius: 6em;
  font-size: large;
  border: none;
}

.body-btn:hover{
  background-color: rgb(10, 130, 228);
}

.headertext{
  padding-top: 50px;
}

.btn-services{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-top: 20px;
  background-color: rgb(10, 130, 228);
  height: 50px;
  width: 300px;
  color: white;
  font-weight: 400;
  border-radius: 5em;
  font-size: large;
  border: none;
  text-align: left;
  transition: 0.5s;
}

.btn-services:hover{
  background-color: rgb(129, 173, 209);
}

.cards-btn{
  margin-left: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-top: 20px;
  background-color: rgb(10, 130, 228);
  height: 50px;
  width: 130px;
  color: white;
  border-radius: 5em;
  border: none;
  font-size: 18px;
}

.cards-btn:hover{
  background-color: rgb(253, 81, 138);
}

.card-btn-1{
  margin-left: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-top: 20px;
  background-color: rgb(10, 130, 228);
  height: 70px;
  width: 170px;
  color: white;
  border-radius: 5em;
  border: none;
  font-size: 18px;
}

.card-btn-2{
  margin-left: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-top: 20px;
  background-color: rgb(10, 130, 228);
  height: 70px;
  width: 170px;
  color: white;
  border-radius: 5em;
  border: none;
  font-size: 18px;
  border-right: 20px;
}

.card-btn-3{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-top: 20px;
  background-color: rgb(10, 130, 228);
  height: 70px;
  width: 150px;
  color: white;
  border-radius: 5em;
  border: none;
  font-size: 18px;
}

.card-img{
  height: 20px;
  width: 180px;
}

.strategy-card-icon-section{
  padding-top: 15px;
  padding-bottom: 25px;
}

.strategy-card-icon-section img{
  height: 100px;
  width: 100px;

}


.owl-obj
{
  padding-top: 10px;
  padding-bottom: 10px;
  height: 200px;
  width: 180px;
  margin-left: 80px;
}
.owl-obj img
{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

.logo-3{
  margin-top: 35px;
}

.cards{
  width: 18rem;
  border-radius: 2em;
  box-shadow: 0px 0px 20px 6px rgba(0,0,0,.05);
  margin-left: auto;
  margin-top: 10px;
  margin-right: auto;

}

.cards:hover{
  box-shadow: 0px 0px 15px 8px rgba(0,0,0,.10);
}

.footer-text{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 0.85em;
}

.toggle{
  margin-top: 20px;
}

@media (max-width: 400px){
  .navbrand{
    font-size: 2rem;
    font-weight: 900;
  }

  .bold-title{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    font-weight: 800;
    color: rgb(10, 56, 141);
  }

  .title{
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 600;
    padding-right: 0px;
    color: rgb(10, 56, 141);
  }

  .title-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1em;
  }
  .subtitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.25em
  }

  .footer-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.85em;
  }
  .footer-container{
    padding-top: 50px;
    text-align: center;
  }

  .footer-col{
    padding-left: 0px;
    padding-right: 0px;
  }

  .services-container, .contact-container, .header{
    text-align: center;
  }

  .navtxt{
    font-size: 1rem;
  }

  .cards{
    width: 90%;  
  }


.toggle{
  margin-top: 5px;
  margin-left: 50px;
}

.owl-obj
{
  margin-left: 80px;
}

.owl-obj img
{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

.logo-1{
  margin-top: 10px;
}
}


@media (max-width: 850px) and (min-width: 401px)  {
  .navbrand{
    font-size: 2rem;
    font-weight: 900;
  }

  .bold-title{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    font-weight: 800;
    color: rgb(10, 56, 141);
  }

  .title{
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 600;
    padding-right: 0px;
  
    color: rgb(10, 56, 141);
  }

  .title-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1em;
  }
  .subtitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.25em
  }

  .footer-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.85em;
  }
  .footer-container{
    padding-top: 50px;
    text-align: center;
  }
  .services-container, .contact-container, .header{
    text-align: center;
  }

  .navtxt{
    font-size: 1rem;
  }
  
  .toggle{
    margin-top: 5px;
    margin-left: 210px;
  }

  .owl-obj img
  {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
  }

  .owl-obj
  {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 200px;
    width: 180px;
    margin-left: 150px;
  }

}